.home {
    /*padding: 400px 15px;*/
    text-align: center;
}

.block{
    padding: 20px 0px;
}

.block p{
    text-align: center;
}

#centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 350px;
}

#centerimg2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 500px;
}

.desc {
    text-align: left;
}

#leftalign {
    text-align: left;
}

.site-footer {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    margin-top: 30px;
    padding-top: 30px;
    color: #6c6c6c;
}


.contact-form {
    max-width: 450ox;
    margin: 0 auto 0;
    padding-top: 30px;
}

.contact-form input, textarea {
    border: 3px solid #eee;
    width: 100%;
    padding: 10px;
}

.contact-form textarea {
    height: 10em;
}

.contact-form input:focus, textarea:focus {
    outline: none;
    border-color: #D6D6D6;
}

.contact-form textform {
     height: 50em;
}

.contact-form label {
    display: block;
    margin-bottom: 20px;
}

.contact-form label span {
    display: block;
}

.contact-form .contact-info label{
    width: 50%;
    float: left;
}

.contact-form .contact-info label:nth-child(1){
     padding-right: 10px;   
}

.contact-form .contact-info label:nth-child(2){
     padding-left: 10px;   
}

.contact-form .submit-wrap {
    text-align: right;
}

.contact-form .submit-btn {
    width: 20%;   
    text-transform: uppercase;
}

.contact-form .submit-btn:hover {
    background: #5C95C5;
    border-color: #D6D6D6;
}

.project-name {
    padding-top: 30px;
    text-align: center;
}

.fp-prev{
    border-width: 28.875px 25.5px 28.875px 0 !important;
    border-top-color: transparent;
    border-right-color: rgba(0,0,0,.25) !important;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.fp-next{
    border-width: 28.875px 0 28.875px 25.5px !important;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: rgba(0,0,0,.25) !important;
}

.ct-label{
    font-size: 1rem !important;
}

/*destktop*/
@media only screen and (min-width: 992px){
    .ct-label{
        font-size: 1.25rem !important;
    }

/*tablet*/
@media only screen and (min-width: 481px) and (max-width: 768px){
    .ct-label{
        font-size: 1.1rem !important;
    }
}

/*mobile*/
@media only screen and (max-width: 480px){
    .ct-label{
        font-size: 1.25rem !important;
    }
}

.myproject p{
    text-align: center;
}

#myVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black; /* in case the video doesn't fit the whole page*/
    background-image: /* our video */;
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
    z-index:3;
}




/* Layer with position absolute in order to have it over the video
* --------------------------------------- */
#section0 .layer{
    position: absolute;
    z-index: 4;
    width: 100%;
    left: 0;
    top: 43%;
}

/*solves problem with overflowing video in Mac with Chrome */
#section0{
    overflow: hidden;
}