.home {
    padding: 400px 15px;
    text-align: center;
}

.block{
    padding: 20px 0px;
}

.block p{
    text-align: center;
}

#centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 350px;
}

.desc {
    text-align: left;
}

#leftalign {
    text-align: left;
}

.site-footer {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    margin-top: 30px;
    padding-top: 30px;
    color: #6c6c6c;
}


.contact-form {
    max-width: 450ox;
    margin: 0 auto 50px;
    padding-top: 30px;
}

.contact-form input, textarea {
    border: 3px solid #eee;
    width: 100%;
    padding: 10px;
}

.contact-form textarea {
    height: 10em;
}

.contact-form input:focus, textarea:focus {
    outline: none;
    border-color: #D6D6D6;
}

.contact-form textform {
     height: 50em;
}

.contact-form label {
    display: block;
    margin-bottom: 20px;
}

.contact-form label span {
    display: block;
}

.contact-form .contact-info label{
    width: 50%;
    float: left;
}

.contact-form .contact-info label:nth-child(1){
     padding-right: 10px;   
}

.contact-form .contact-info label:nth-child(2){
     padding-left: 10px;   
}

.contact-form .submit-wrap {
    text-align: right;
}

.contact-form .submit-btn {
    width: 20%;   
    text-transform: uppercase;
}

.contact-form .submit-btn:hover {
    background: #5C95C5;
    border-color: #D6D6D6;
}

.project-name {
    padding-top: 30px;
}
